/**
 * eventmanager.css
 */
@import "default.css";

/**
 * Structure styles
 */
#fxevents, #fxeventaliases {
  width: 1050px;
}
#currencies, #currencypairs {
  width: 450px;
}

.fxcontrols-box {
  height: 50px;
  padding-bottom: 5px;
  padding-right: 8px;
  text-align: right;
}
.fxcontrols-box p {
  float: right;
}

/**
 * Table styles
 */
.display {
  border: 1px solid green;
  padding: 0px;
  margin: 0px;
}

/**
 * Text markup
 */
.dataframe h3 {
  text-decoration:none;
  border-bottom:1px dotted #000000;
}
.dataframe h3:hover {
  cursor: pointer;
}

/**
 * Control styles
 */
.fxcontrol-refresh {
  float:left;
  margin-right: 10px;
}
.fxcontrol-add, .fxcontrol-del {
  float:left;
  margin-right: 10px;
}
.fxcontrol-save, .fxcontrol-cancel {
  float:left;
  margin-right: 10px;
  display: none;
}
.fg-button { 
   outline: 0; 
   margin:0 4px 0 0; 
   padding: .4em 1em; 
   text-decoration:none !important; 
   cursor:pointer; 
   position: relative; 
   text-align: center; 
   zoom: 1; 
}
